
/* -------------顶部固定开始------------------------------------ */
.container {
    height:100%;
    font-size: 0.47rem;
}
.headerBox {
    height: 1.22rem;
    width: 100%;
    background-color: #282828;
    line-height: 1.22rem;
    color: #fff;
    padding: 0.31rem 0;
}
.headerBox .icon {
    display: inline-block; 
    margin-right: 0.31rem;
}
.headerBox .one {
    margin-left: 0.31rem;
    width: 0.4rem;
    height: 0.5rem;
    background-image: url(../images/header-left-homepage.png);
   background-repeat: no-repeat;
    background-size: 100%;
    background-position: left center;
}
.headerBox .two {
	width: 0.25rem;
    height: 0.5rem;
    background-image: url(../images/header-right.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* -------------------------------顶部固定结束--------------------------- */

/* ------------------------------内容区-------------------------------- */
.content {
    position:relative;
	overflow:auto;
    -webkit-overflow-scrolling:touch;
    overflow-x: hidden;
}
/* -----------头部开始--------------- */
.header {
    width: 100%;
    height: auto;
}
/* 通知栏 */
.notice {
    width: 100%;
    height: 0.625rem;
    line-height: 0.625rem;
    background-color: #ff87c7;
    color: #fff;
    font-size: 0.28rem;
    padding-left: 0.31rem;
}
/* 轮播图 */
.swiper-container {
    width: 100%;
    height: 4.07rem;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.swiper-slide img {
    display: block;
    width: 100%;
    max-width: 100%;
}
.swiper-pagination-bullet {
    width: 0.26rem !important;
    height: 0.26rem !important;
    display: inline-block;
    border-radius: 100%;
    background: #c3c3c3 !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active {
    opacity: 1 !important;
    background: #ff45a8 !important;
}
/* ----------------头部结束--------------------- */

/* ---------------副区域开始-------------------- */
.section {
    width: 100%;
    height: auto;
    font-size: 0.31rem;
    padding: 0.25rem 0;
    border-bottom: 0.03rem solid #ededed;
    background-color: #fff;
}
.section p {
    margin-left: 0.31rem;
    font-size: 0.31rem;
    color: #404040;
    vertical-align: middle;
}
/* 签到按钮 */
.section a {
    display: block;
    margin-right: 0.31rem;
    color: #fff;
    width: 2rem;
    height: 0.78rem;
    background-color: #ff45a8;
    border-radius: 0.125rem;
    
    text-align: center;
    line-height: 0.78rem;
}
/* ----------------------副区域结束--------------------- */

/* ----------------------主内容开始--------------------- */
.banner {
    width: 100%;
    height: auto;
    padding: 0.31rem 0.31rem 0.28rem 0.31rem;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 0.31rem;
}
.last {
    margin-bottom: 1.81rem;
}
.more {
    color: #989898;
    font-size: 0.375rem;
    margin-right: 0.31rem;
}
.title {
    /* width: 100%; */
    height: 0.47rem;
    border-left: 0.09rem solid #ff45a8;
    padding-left: 0.28rem;
    font-size: 0.4rem;
    line-height: 0.47rem;
    color: #282828;
    font-weight: bold;
}
/* 图片滚动区 */
.cards {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto; /*横向滚动*/
    overflow-y: hidden;
    /* overflow: -moz-scrollbars-none; */   
}

/* 隐藏横向滚动条 */
::-webkit-scrollbar-x {
    display: none;
}
.info {
    padding-top: 0.28rem;
    height: 4.58rem;
}
.info-one, 
.info-three {
    width: 2.34rem;
    margin-right: 0.75rem;
}
.info-two {
    width: 3.1rem;
    margin-right: 1.5rem;
}
.image-one,
.image-three {
    width: 100%;
    height: 2.34rem;
}
.image-two {
    width: 100%;
    height: 2.36rem;
}
.introduction {   
    padding-top: 0.31rem;
}
.name {
    font-size: 0.375rem;
    margin-right: 0.22rem;
}
.logo {
    width: 0.78rem;
    height: 0.31rem;
}
.small {
    font-size: 0.28rem;
    color: #787878;
}

/* ------------------------主区域结束---------------------------------- */

/* -------------------------------底部固定开始----------------------------- */
.footerBox {
    overflow: hidden;
    height: 1.22rem;
    width: 100%;
    background-color: #282828;
    line-height: 1.22rem;
    color: #fff;
}
.foot-nav *{
    display: block;
}
/* -------------------------------底部固定结束------------------------------ */